.Link{
    /* textDecoration: 'none',color:'white',fontSize:'30px',fontWeight:'bold' */
    text-decoration: none;
    color: 'white';
    font-size: '30px';
    font-weight: 'bold';
}
.breakLine{
    /* height:'1px',background:'black',marginTop:'-15px',marginBottom:'15px',marginLeft:'10%',marginRight:'10%' */
    height: 1px;
    background: black;
    margin-top: -15px;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
}
.navLink{
    text-decoration: 'none';
    color: teal;
    font-size: 18;
}
.gameCol{
    border-style:'solid' !important;
    width:'20px' !important;
    height:'20px' !important;
    margin-top:'10px'!important;
    margin-left:'1%'!important;
    color:'blue'!important;
}
.active {
    /* Your styling for the active link goes here */
    color: teal !important;
    font-weight: bold;
    /* style={{textDecoration: 'none',color:'Teal',fontSize:'18px'}} */
    text-decoration: none;
    font-size: 18px;
    background-color: white;
    background-size: contain;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;  
  }
  .navcolor{
    color: teal !important;
  }